body {
  background: #141414;
  color: #ffffff;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.discover__movie {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; 
}

.discover__movie img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.discover__container h1 {
  text-align: center;
}

.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  align-items: center;
}

.footer-icons {
  margin-top: 2.5rem;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}

.footer-copywright {
  margin-top: 20px;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.footer-copywright span {
  margin-left: 50px;
}

.footer-creator {
  margin-top: 20px;
}



